@import '../../Globals/variables/variables.scss';

.description-graph{
   // flex:0 0 60%;
    background-color: #fff;
}
.dropdown-container{
    background-color: red;
    display: flex;
    justify-content: space-between;
}
