@import '../Globals//variables/variables.scss';

// Overview Seclector

.overview {
    display: flex;
    background-color: $white;
    border:1px solid $light-border-black;
    justify-content: space-between;
    align-items: center;
    padding:0.125em 1em;
    transition: all .3s ease-out;
    &__location{
        display: flex;
        align-items: center;
        margin-right: auto;
        font-size: .7em;
        @media screen and (min-width: $bp-medium) {
            font-size: 1em;
        }
    }

    &__heading{
        text-decoration: none;
        transition: all .3s ease-out;
        &.nightmode{
            background-color: $nightmode-blackpr;
            color: $white;
        }    
    }
    &__location-save{
        display: flex;
        align-items: center;
        & > .svg-inline--fa{
            width:1.2em;
            height:.57em;
            transform: rotate(90deg);
        }
    }

    &__save-text{

    }
    &__refresh{
        display: flex;
        font-size: .8em;
        align-items: center;
        @media screen and (min-width: $bp-medium) {
            font-size: 1em;
        }
        & > .svg-inline--fa{
            margin-right: .3em;
            height: 1.8em;
            width: 0.7em;
        }
    }
    &__last-update{

    }

    &.nightmode{
        background-color: $nightmode-blackpr;
        color: $white;
        border:1px solid $nightmode-border3;
      
    }
    
}
