@import '../Globals//variables/variables.scss';

// Overview Seclector

.overview {
    display: flex;
    background-color: $white;
    border:1px solid $light-border-black;
    justify-content: space-between;
    align-items: center;
    padding:0.125em 1em;
    
    &__location{
        display: flex;
        align-items: center;
        margin-right: auto;
        @media screen and (max-width: $bp-small) {
            font-size: .7em;
        }
    }

    &__heading{
        text-decoration: none;
    }
    &__location-save{
        display: flex;
        align-items: center;
        & > .svg-inline--fa{
            width:1.2em;
            height:.57em;
            transform: rotate(90deg);
        }
    }

    &__save-text{

    }
    &__refresh{
        display: flex;
        font-size: .9em;
        align-items: center;
        @media screen and (min-width: $bp-medium) {
            font-size: 1em;
        }
        & > .svg-inline--fa{
            margin-right: .3em;
            height: 1.8em;
            width: 0.7em;
        }
    }
    &__last-update{

    }

    
}
