$color-primary  :#f9ed69;
$light-black    : #7f7f7f;
$light-blue     :#eff3f6;
$white          : #fff;
$light-border-black : #f1f1f1;
$description-light-bg:#efeded;
$description-light-pink:#e66ab5;

// Max size of devices 
$bp-extralarge: 88em;   //1400 px
$bp-mediumlarge: 87em;   //1399 px
$bp-large: 64em;   //1024 px
$bp-medium: 48em;   //768 px
$bp-small: 26.25em;  // 400 px
$bp-extrasmall: 20em;  // 320 px
