$color-primary  :#f9ed69;
$light-black    : #7f7f7f;
$light-blue     :#eff3f6;
$white          : #fff;
$light-border-black : #f1f1f1;
$description-light-bg:#efeded;
$description-light-pink:#e66ab5;
$font-light-black:#31302f;
$black: black;
$confirmed-icon:#e64e4e;
$confirmed-text:#e65959d9;
$recovered-text:#26b987;
$recovered-icon:#018659;
$active-text:#6d6dd6;
$deceased-icon:#524f4f;
$deceased-text:#737171;
$nightmode-border:#2b1616;
$nightmode-border2: #545453;
$nightmode-border3:#363f4c;
$nightmode-active:#5a5a5a;
$nightmode-lightwhite: #e6e6e6;
$nightmode-bg: #1d1d1a;
$nightmode-bg2: #232323;
$nightmode-gdblack:#485460;
$nightmode-blackpr:#1e272e;
$nightmode-blackelectro:#2f3640;
// Max size of devices 
//$bp-extralarge: 88em;   //1400 px
$bp-extralarge: 75.0625em;   //1201 px

$bp-large:  64.0625em;   //1025 px

$bp-medium: 48em;   //768 px    
$bp-small: 23.437.25em;  // 375 px

//$bp-extrasmall: 20em;  // 320 px
