@import '../Globals/variables/variables.scss';

.all-states-graph{
    flex:0 0 58%;
    background-color: #fff;
    box-shadow: 0px 3px 10px #e4e4e4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (min-width: $bp-large) {
        flex:0 0 58%;
        margin-right:.5em;
    }
    @media screen and (min-width: $bp-extralarge) {
        flex:0 0 65%;
        margin-right:.5em;
    }

    &__caseheading{
        font-size: .8em;
        line-height: 2em;
        color: #6b5f5f;
        font-weight: 600;
        @media screen and (min-width: $bp-large) {
            font-size: 1em;
        }

    }
}
.all-states-dropdown-container{
    background-color: ghostwhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em 1em;
    margin-bottom:2em;
}
.all-district{
    padding:0;
    margin:0;
    color:$font-light-black;
    &__states{

    }

    &__list{
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
    }
    &__list-items{
        display: flex;
        list-style-type: none;
        margin: .5em;
        padding: 1em;
        align-items: center;
        flex: 0 0 85%;
        & > .active{
            color:blue;
        }
        & > .recovered{
            color:green;
        }
        & > .confirmed{
            color:red;
        }

        & > .deceased{
            color:grey
        }
        @media screen and (min-width: $bp-medium) {
            flex:0 0 26%;
            margin-right:.5em;
        }
        @media screen and (min-width: $bp-extralarge) {
            flex: 0 0 26%;
        }
        & > .svg-inline--fa{
            width: 1em;
            height: .6em;
        }
    }

    &__name{
        margin-right: .5em;
        font-weight: 500;
    }

    &__count{
        font-size: 1.2em;
        font-weight: 400;
       
    }

    &__delta{
        font-size: .8em;
    }
}