@import '../../Globals/variables/variables.scss';

.search-wrap{
    //flex: 0 0 40%;
    //margin-right: auto;  // new added
    //align-items: center;
    position: relative;
    margin-left: .4em;
    @media screen and (min-width: $bp-extralarge) {
        flex: 0 0 40%;
        margin-right: auto;  // new added
        align-items: center;
        position: relative;
        margin-left: 0;
    }
}
.search {
    display: flex;
    align-items: center;
    &__input{
        font-family: inherit;
        font-size: inherit;
        color:inherit;
        background-color: $white;
        border: none;
        padding: .3em 1em;
        border-radius: 5px;
        width: 89%;
        transition: width .2s;
        margin-right: -2em;

        box-shadow: 0px 1px rgba(0, 0, 0, 0.05);
        border: 1px solid #efefef;
        // box-shadow:  0px 0px rgba(0,0,0,.1);
        // border:2px solid #bda6a6;
        transition: all .4s;
        &:focus{
            outline: none;
            //width: 100%;
            background-color: $white;
            margin-right: -2em;
            transition: all .2s;
        }

        &::-webkit-input-placeholder{
            font-weight: 400;
            color:#bda6a6;
        }

        @media screen and (min-width: $bp-extralarge) {
            width: 79.6%;
        }
    }
    &__input:focus + &__button{
        background-color: #fff;
    }

    &__button{
        border: none;
        background-color: #fff;
        border-radius:50%;
        cursor: pointer;
        &:focus{
            outline: none;
        }
        &:active{
            transform:translateY(1px);
        }
    }   

    &__icon{
        width: 1.4em;
        height:1.4em;
    }
}

.search-result{
    position: absolute;
    top:2em;
    left: 0;
    background-color: #fff;
    border-radius: 5px;
    z-index:30;
    width: 97%;
    border: 1px solid #efefef;
    box-shadow: 1px 0px rgba(0, 0, 0, 0.05);
    &__list{
        list-style-type: none;
        padding: 1em;
        margin: 0;
    }
    &__item{
        padding:0.6em 1em 0.6em 1em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:not(:last-child){
            border-bottom: 1px solid #f7eded;
        }
    }
    &__item:hover{
        background-color: #f5f0f0;
        border-radius: 2px;
        translate: all .3s;
        cursor: pointer;
    }
    &__name{
        display: flex;
        flex-direction: column;
        margin-right: auto;
        font-size: 0.9em;
        font-weight: 500;
        color: #352f2f;
    }
    &__count{
        display: flex;
        flex-direction: column;
    }
    &__district-name{
        font-size: 1em;

    }
    &__dist-state-name{
        font-size: .7em;
    }
    &__status-text{
        font-size: .7em;
        color:red;
        font-weight: 500;
    }
    &__status-count{
        color: red;
        font-weight: 500;
    }
    &__state-name{
        margin-right: auto;
        font-size: 0.9em;
        font-weight: 500;
        color: #352f2f;
    }
    &__search-detail-icon{
        margin-right: .7em;
    }
    &__noresult{
        font-size: .8em;
        font-weight: 500;
        color: #584646;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    &__suggestion{
        font-size: .9em;
        font-weight: 500;
        color: #352f2f;
        padding:0;
        margin:0;
    }
    &__suggestion-text{
        color: #9759da;
    }

    @media screen and (min-width: $bp-extralarge) {
        width: 85%;
    }
}

.btn-inline{
    border:none;
    padding: 0;
    color:red;
    font-size: inherit;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    transition: all .2s;

    & span{
        margin-left: 3px;
        transition: margin-left .2s;
    }

    &:hover{
        color:#ff6060;

        span{
            margin-left: 8px;
        }
    }
} 