@import '../../Globals/variables/variables.scss';

.search-wrap{
    flex: 0 0 40%;
    margin-right: auto;  // new added
    align-items: center;
    position: relative;
    @media screen and (max-width: $bp-medium) {
        order:1;
        flex: 0 0 90%;
        margin-left: 1.5em;
    }
}
.search {
    display: flex;
    align-items: center;
    &__input{
        font-family: inherit;
        font-size: inherit;
        color:inherit;
        background-color: $white;
        border: none;
        padding: .3em 1em;
        border-radius: 10px;
        width: 80%;
        transition: width .2s;
        margin-right: -2em;

        box-shadow:  0px 0px rgba(0,0,0,.1);
        border:2px solid #bda6a6;
        transition: all .4s;
        &:focus{
            outline: none;
            //width: 100%;
            background-color: $white;
            margin-right: -2em;
            transition: all .2s;
        }

        &::-webkit-input-placeholder{
            font-weight: 400;
            color:#bda6a6;
        }
    }
    &__input:focus + &__button{
        background-color: #fff;
    }

    &__button{
        border: none;
        background-color: #fff;
        border-radius:50%;
        cursor: pointer;
        &:focus{
            outline: none;
        }
        &:active{
            transform:translateY(1px);
        }
    }   

    &__icon{
        width: 1.4em;
        height:1.4em;
    }
}

.search-result{
    position: absolute;
    top:2.2em;
    left: 0;
    background-color: #fffdfd;
    border-radius: 5px;
    z-index:30;
    width: 85%;
    &__list{
        list-style-type: none;
        padding: 1em;
        margin: 0;
        box-shadow: 3px 5px rgba(0, 0, 0, 0.05);
    }
    &__item{
        padding:0.6em 1em 0.6em 1em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:not(:last-child){
            border-bottom: 1px solid #f7eded;
        }
    }
    &__item:hover{
        background-color: #f5f0f0;
        border-radius: 2px;
        translate: all .3s;
        cursor: pointer;
    }
    &__name{

    }
    &__count{

    }
}

.btn-inline{
    border:none;
    padding: 0;
    color:red;
    font-size: inherit;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    transition: all .2s;

    & span{
        margin-left: 3px;
        transition: margin-left .2s;
    }

    &:hover{
        color:#ff6060;

        span{
            margin-left: 8px;
        }
    }
} 