@import "../../Globals/variables/variables.scss";


.sidebar {  
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   position: fixed;
   width:15em;
   top:0;
   left: 0;
   height: 100%;
   z-index:20;
   background:#fbfbfb;
   transform: translateX(-100%);
   transition: transform 300ms cubic-bezier(.57,.57,.83,.67);

   font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", "-apple-system", "BlinkMacSystemFont", "Roboto", "Helvetica Neue", sans-serif;
   @media screen and (min-width: $bp-extralarge) {

    width:5em;
    top:4em;
    left: 0;
    height: calc(100vh - 4em);
    z-index:20;
    transform:none;
    transition: width 500ms cubic-bezier(.57,.57,.83,.67);
   }

   &.nightmode{
    background-color: $nightmode-blackpr;
   }
}
.sidebar.open{
    transform: translateX(0.001%);
    @media screen and (min-width: $bp-extralarge) {
        width:11em;
        transform: none;
    }
}
.side-nav{
    list-style-type: none;
    margin:0;
    padding:0;
    color:$light-black;
    height:100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    &__items{
        position: relative;
        display: flex;
        flex-direction: column;
        & > span{
            color:$white;
        }
       
        &:not(:last-child){
            margin-bottom: 0;
        }
        @media screen and (min-width: $bp-extralarge) {
            &:not(:last-child){
                margin-bottom: 0.5em;
            }
        }
        &:last-child{
            margin-top: auto;
        }
    }
    &__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        padding:.675em 1.5em;
        position: relative;
        z-index: 10;
        line-height: 1.5em;
        font-size: 1em;
        font-family: inherit;
        font-weight: 500;
        color: #585252;
        & > .svg-inline--fa{
            width: 1.20em;
            height:1.9em;
            margin:0 .75em 0 0;
        }
    }

    &__link:hover
    {
        background-color:#dfe3f0;    
    }
    &__link--active {
        //background-color :  #e4749eed;
        background-color : #ce5c5c;
        color:#fff;
        font-weight: 900;
        & > svg{
            color:#fff;
        }
        // @media screen and (min-width: $bp-extralarge) {
        //     background-color : #ce5c5c;
        // }
        &.nightmode{
            background-color : #5a5a5a;
        }
    }
    &__text{
        //display: none;
        font-size: .9em;
        visibility: hidden;
        opacity: 0;
        transition: all 400ms ease-out 200ms;
    }
    &__icon {
      //  margin-right: 2em;
        width: 1em;
    }
    @media screen and (min-width: $bp-extralarge) {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    &__mobile-items{
        display:block;
        @media screen and (min-width: $bp-extralarge) {
            display: none;
        }
        .nightmode{
            background: $nightmode-blackelectro;
        }
    }
    &__mobile-text{
        padding: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #2076d3;
        color: #fff;
        opacity: 1;
        font-weight: 700;
        @media screen and (min-width: $bp-extralarge) {
            display: none;
        }
        
    }
   &__mobile-heading{
    font-size: 1em;
   }
}

.side-nav__text.open{
    //flex-direction: row;
    //display: block;
    visibility: visible;
    opacity: 1;
}