@import "../../Globals/variables/variables.scss";


.sidebar {
   width:5em;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   position: fixed;
   top:4em;
   left: 0;
   height: calc(100vh - 4em);
   z-index:1000;
   font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", "-apple-system", "BlinkMacSystemFont", "Roboto", "Helvetica Neue", sans-serif;
   transition: width 500ms ease-in;
}
.sidebar.open{
    width:11em;
}
.side-nav{
    list-style-type: none;
    margin:0;
    padding:0;
    color:$light-black;
    height:100%;
    
    &__items{
        position: relative;
        display: flex;
        flex-direction: column;
        & > span{
            color:$white;
        }
       
        &:not(:last-child){
            margin-bottom: 0.5em;
        }
        @media screen and (max-width: $bp-medium) {
            &:not(:last-child){
                margin-bottom: 0;
            }
        }
       
    }
    &__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        padding:.675em 1.5em;
        position: relative;
        z-index: 10;
        line-height: 1.5em;
        font-size: 1em;
        font-family: inherit;
        font-weight: 500;
        color: #585252;
        & > .svg-inline--fa{
            width: 1.20em;
            height:1.9em;
            margin:0 .75em 0 0;
        }
    }

    &__link:hover
    {
        background-color:#dfe3f0;    
    }
    &__link--active {
        background-color : #ce5c5c;
        color:#fff;
        font-weight: 900;
        & > svg{
            color:#fff;
        }
        @media screen and (max-width: $bp-small) {
            background-color :  #e4749eed;
        }
       
    }
    &__text{
        //display: none;
        font-size: .9em;
        visibility: hidden;
        opacity: 0;
        transition: all 400ms ease-out 200ms;
    }
    &__icon {
      //  margin-right: 2em;
        width: 1em;
    }
    @media screen and (max-width: $bp-medium) {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    // @media screen and (max-width: $bp-small) {
    //     flex-wrap: nowrap;
    //     overflow-x: scroll;
    //     &__text{
    //         display: none;
    //     }
    // }
   
}

.side-nav__text.open{
    //flex-direction: row;
    //display: block;
    visibility: visible;
    opacity: 1;
}