@import '../../Globals//variables/variables.scss';

.pie-chart{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
}

.total{
    font-size: 1em;
    font-weight: 500;
}
.payloadName{
    text-transform:capitalize;
}