@import '../../Globals//variables/variables.scss';
.dropdown{
    width:25%;
    & * {
        list-style-type: none;
    }
    &__wrap{
        width: 100%;
        position: relative;
    }
    &__value{
        
    }
    &__default-option{
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__icon{
        height:0.8em;
        width: 1.5em;
    }
    &__default{
        margin: 0;
        padding: 0.5em;
        border-radius: 6px;
        background-color: #fff;
        border-bottom: 1px solid #c1c1c1;
    }
    // efefef
    &__select-list{
        padding: 0;
        margin-top: 10px;
        border-radius: 6px;
        background-color:$white;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
        border:1px solid #dedede;
        position: absolute;
        top: 42px;
        left: 0;
        width: 100%;
        z-index:10;
    }

    &__option{
        padding:0.6em 0 0.6em 1em;
    }
    &__active{
        background-color: #f5f0f0;
    }
    &__option:hover{
        background-color: #f5f0f0;
        translate: all .3s;
        cursor: pointer;
    }
    @media screen and (max-width: $bp-medium) {
        font-size: .8em;
    }
}

.verticle-line{
    border:1px solid red;
}