@import '../../Globals//variables/variables.scss';
.loading{
    
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 140;
    width:100%;
    height:100%;
    top:0;
    left:0;
    position: absolute;
    background: ghostwhite;
    //background: linear-gradient(to right, #e4e4e4, #e4e4e4);
    //background:linear-gradient(to right, #adb7c5, #9dbcea);
    > .svg-inline--fa{
        width:1.5em;
        height:1em;
        animation-name: spin;
        animation-duration: 1500ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    &.nightmode{
      background-color: $nightmode-blackpr;
    }
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }