@import '../Globals//variables/variables.scss';
.map{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-between;
    flex-direction: column;
    @media screen and (min-width:$bp-large){
        flex-direction: row;
        padding: 1em;
    }
}
.indiamap{
    flex:0 0 40%;
    padding: 1em;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
    background: #fff;
    border-radius: 5px;
    border: 1px solid #dedede;
    position: relative;
    @media screen and (min-width:$bp-large){
        margin-right: 1em;
    }
    > svg{
        //width:100%;
        background-color: #fff;
    }
    &__heading-container{
        margin-bottom: 1em;
        font-family: inherit;
        color:$deceased-text;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    &__heading{
        font-size: 1.4em;
        margin : 4px;
        font-weight: 500;
        @media screen and (min-width:$bp-large){
            font-size: 1.6em;
        }
    }
    &__selectedstate{
        display: flex;
        justify-content: flex-end;
        font-size: 1.3em;
        font-weight: 500;
        align-items: flex-end;
        flex-direction: column;
        
    }
    &__selectedlabel{
        color: #947f7e;
        margin: 0;
        font-size: .6em;
    }
    &__selectedtext{
        color: #ed3833;
        margin: 0;
        text-decoration: underline;
    }
    &__hoverstate{
        font-size: .9em;
        color: #2f4820b5;
        font-weight: 500;
        position: absolute;
        top: 14em;
        left: 2em;
        text-align: center;
        display: none;
        > p{
            margin:0;
            padding:0
        }
      
        @media screen and (min-width:$bp-large){
            display: block;
        }
        
    }
    &__hoverlabel{
        font-size: .7em;
    }

    &__detail-message{
        font-size: .8em;
        font-family: inherit;
        color:$deceased-text;
        margin: 0;
        font-weight: 500;
    }
}


.state{
    stroke-width: 1px;
    stroke: #8ba8a9;
}
.state:hover{
    cursor: pointer;
    stroke-width: 3px;
    stroke: #d63434;
}

.stateselected{
    fill: #5f57869c;
    stroke-width: 1px;
}
.indiastate{
    border: 1px solid #dedede;
    flex:1;
    padding: 1em;
    background-color: #fff;
    border-radius: 5px;
    > svg{
        //width:100%;
        background-color: #fff;
    }

    &__hoverdistrict{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 1em;
        color: #564c50;
        font-weight: 500;
    }

    &__hoverdistrictname{
        font-size: 1.2em;
        margin-left: 5px;
    }
}

.district{
    stroke-width: 1px;
    stroke: #8ba8a9;
    cursor: pointer;
}

.district-stats{
    display: flex;
    justify-content: space-around;
    padding: 0 1.5em;
    &__confirmed{
        flex: 0 25%;
        color: red;
    }
    &__active{
        flex: 0 25%;
        color: #1b1bef;
    }
    &__recovered{
        flex: 0 25%;
        color: #088608;
    }
    &__deceased{
        flex: 0 25%;
        color: #737171;
    }
}

.blankmessage{
    flex: 1;
    padding: 1em;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
    background: #fff;
    border-radius: 5px;
    border: 1px solid #dedede;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#737171de;
    //color: #73717136;
    font-weight: 500;
    font-size: 1.3em;
    font-family: inherit;
    margin-top: .5em;
    @media screen and (min-width:$bp-large){
        margin-right: 1em;
        font-size: 1.8em;
        margin-top: 0;
    }
}