@import '../../Globals//variables/variables.scss';

.bar-chart-container{
    flex:1;
    display: flex;
    flex-direction: column;
}

.bar-chart {
    background-color: $white;
    //box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
    padding:0;
    //margin-bottom: 2em;
    border-radius: 5px;
    position: relative;
    @media screen and (min-width: $bp-medium) {
        flex-wrap: wrap;
        padding:2em;
    }
    &.nightmode{
        transition: all 1s ease;
        background-color: $black;
        color: $white;
    }
}