@import '../Globals//variables/variables.scss';

.container{
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $bp-extralarge) {
        flex-direction: row;
    }
    &.nightmode{
        background-color: $nightmode-blackelectro;
        color: $white;
        border-bottom:$nightmode-border2;
    }
}
.display-total{
    display: flex;
    background-color: whitesmoke;
    padding: .6em;
    justify-content: space-between;
    flex-direction: column; 
    flex-wrap: wrap;
    flex:1;
    @media screen and (min-width: $bp-medium) {
        flex-direction: row;
    }
    @media screen and (min-width: $bp-extralarge) {
        flex-direction: column;
        padding: 1em;
    }
    &__block{
        background-color: $white;
        padding:1.5em;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
        border-radius: 5px;
        position: relative;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        font-size: 1em;
        line-height: 2em;
        margin-top: .6em;
        @media screen and (min-width: $bp-medium) {
            flex: 1;
            margin: 0 .3em 0 0;
            padding:.5em;
        }
        @media screen and (min-width: $bp-extralarge) {
            margin-top: 0;
            margin-right: 0;
            padding:1.5em;
            flex:initial;
        }
        &.nightmode{
            //background-color: $nightmode-border2;
            background-color: $nightmode-bg;
            color: $white;
        }
    }

    &__text{
        margin-right: 2em;
       
    }

    &__count-block{
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }

    &__count{
        font-size: 1.4em;
        line-height: 2em;
    }
    &__increase{
        display: flex;
        align-items: center;
    }
    &__icon{
        width: 1em;
        height: 0.8em;
    }
    &__confirmed-case{
        color:#f30d0d;
    }
    &__recovered-case{
        color:#08b908;
    }
    &__active-case{
        color: #135aff;
    }
    &__deceased-case{
        color: #989898;
    }
    &.nightmode{
        background-color: $nightmode-blackelectro;
        color: $white;
    }
}

.line{
    display: flex;
    background-color: whitesmoke;
    padding:1em;
    justify-content: space-between;
    &__block{
        background-color: $white;
    }
}
.display-line-chart-container{
    //display: flex;
    //flex-wrap: wrap;
    //background-color: #fff;
    //flex-direction: column-reverse;
    //flex: 0 0 70%;
    flex:3;
    padding: .6em;
    @media screen and (min-width: $bp-extralarge) {
        padding:1em 1em 1em 0;
    }
}