@import '../Globals//variables/variables.scss';

.prev-content {
  min-height: 100vh;
  .prev-section {
    margin: 1em;
    display: flex;
    flex-direction: column;

    .box {
      width: 100%;
      margin-bottom: 15px;

      p {
        margin: 0 10px;
        text-align: center;
        font-weight: 500;
        font-size: 0.9em;
      }

      h3 {
        text-align: center;
      }

      .img-section {
        display: flex;
        justify-content: flex-start;
        margin: 5% 5% 5% 5%;

        .icon-sec {
          width: 75px;
          height: 75px;
          border-radius: 50%;
          background: white;

          .icon {
            width: 80%;
            height: 80%;
            position: relative;                   
            left: 7px;
            top: 5px;
          }
          
          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
        p {
          position: relative;
          margin-left: 1.5em;
          margin-top: 1.5em;
        }
        .main-content {
          position: relative;
          left: 8%;
          font-size: 0.9em;
          align-self: center;
          font-weight: 600;
        }
        &.nightmode {
         .main-content {
          color: $white;
         }       
        }
      }

      &.nightmode {
        background-color: $nightmode-blackelectro;
        color: $white;
      }
    }

    .sec1 {
      background-color: #ff253a7a;

      .main-content {
        color: #0b0886;
      }
    }
    .sec2 {
      background-color: #fff1b0;

      .main-content {
        color: #da2f2f;
      }
    }
    .sec3 {
      background-color: #c925ff47;

      .main-content {
        color: #800d82;
      }
    }

    /* CSS for MYTH BUSTER */
    .myth-box {
      @extend .box;
      flex: 1;
      background: white;
      // border: 15px solid #ff5200d1;

      .myth-header {
        display: flex;
        justify-content: center;

        &.nightmode{
          span {
            background: $nightmode-blackpr;    
          }
        }

        span {
          background: #ff7636;
          align-self: center;
          color: white;
          font-weight: 500;
          padding: 5px 1em 1em 1em;
          border-radius: 0 0 10px 10px;        
        }
      }

      .who-img {
        min-height: 100%;
        min-width: 100%;
      }

      .sign {
        display: flex;
        justify-content: space-around;
        margin: 1.5em 0;

        .icon-size {
          width: 40px;
          height: 40px;
        }
      }

      .sec-content {
        display: flex;
        justify-content: space-around;
        margin-bottom: 1.5em;
        padding: 0 1em;

        .con1, .con2, .icon-size {
          padding: 0.5em;
          align-self: center;        
        }

        .icon-content, .myth, .fact {
          font-size: 0.8em;
          line-height: 1.4em;
          font-weight: 500;
        }

        .icon-content {
          width: 60px;
          height: 60px;
          // border-radius: 50%;
          // flex: 0 0 10%;
          // flex: 1;
          margin: 0 6%;
          // background: #ff7636;

          .icon-size {
            width: 100%;
            height: 100%;
            color: white;
          }

          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }

        .myth {
          flex: 2;
        }

        .fact {
          flex: 2;
        }

      }
    }
  }

  @media screen and (min-width: $bp-large) {
    .prev-section {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .box {
        flex-basis: 0;
        flex-grow: 1;
        margin: 15px;
      }    
    } 

    .myth-box { 
      border: 15px solid #ff7636;

      &.nightmode{
        border:15px solid $nightmode-border3;
      }
    }
  }

  &.nightmode{
    background-color: $nightmode-blackpr;
    color: $white;
    border:1px solid $nightmode-border3;
  }

  .sources {
    // margin-top: auto;
    display: flex;
    justify-content: flex-end;
    font-size: .7em;
    a {
      margin: 10px;
      font-style: italic;  
      color: inherit;     
    }      
  }
}